.container {
  display: flex;
  justify-content: space-between;
  padding: 24px 128px;
  align-items: center;

  flex-direction: row;
}
.logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #191a15;
}
.logoSpan {
  color: #54be96;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  letter-spacing: -0.01em;
  color: #191a15;
}
.logInBtn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 14px 39px;
  width: 124px;
  height: 48px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #191a15;
  margin-right: 8px;
}
.logInBtn:hover {
  background: #eeeeee;
}
.regBtn {
  background: #54be96;
  border-radius: 30px;
  padding: 14px 40px;
  width: 171px;
  height: 48px;
  font-size: 16px;
  border: none;

  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.regBtn:hover {
  background: #36a379;
}
.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(25, 26, 21, 0.2);
}
.favorites {
  visibility: hidden;
}
