.container{
    padding: 64px 128px 100px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
}

.loadMoreBtn{
    border-radius: 30px;
        padding: 14px 48px;
        width: 176px;
        height: 48px;
        background: #54be96;
        border: none;
        color: #fbfbfb;
        margin-top: 64px;
}